body{
  background:#0b0215;
  font-family: 'Poppins', sans-serif;
}

#particles-js{
  position:fixed;
  inset:0;
  z-index:-1;
}

.glass{
  background:rgba(88,28,135,.25);
  backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,.15);
  box-shadow:0 0 30px rgba(168,85,247,.3);
  border-radius:16px;
}

.navbar{
  position:fixed;
  top:0;
  width:100%;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  z-index:50;
}

.nav-links a{
  margin-left:20px;
  text-decoration:none;
}

.section{
  padding:120px 60px;
}

.center{
  min-height:100vh;
  text-align:center;
}

.profile{
  width:220px;
  height:220px;
  border-radius:50%;
  border:4px solid #a855f7;
}

h1 span, footer span{
  color:#d946ef;
}

.skill{
  margin:15px 0;
}

.bar{
  background:#333;
  height:10px;
  border-radius:10px;
}

.bar span{
  display:block;
  height:100%;
  background:linear-gradient(90deg,#9333ea,#d946ef);
  border-radius:10px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.footer{
  padding:30px;
  text-align:center;
}
